.image > img{
    padding-top: 15%;
    
}
.image > h1 {
    padding-top: 5%;
    color: white;
    text-shadow: 2px 2px #000;
}
.image > h2 {
    color: white;
    text-shadow: 2px 2px #000;
}

.image > i {
    position: absolute;
    bottom: 0;
    left: 50%;
}