.image.jumbotron {
    background: red;
    position: absolute;
    top: 30%;
    display: flex;
    text-align: center; 
    color: white;
    align-items: center;
    vertical-align: middle;
    background: rgba(238, 238, 238, 0.5);
}

.image>i {
    position: absolute;
    bottom: 0;
    left: 50%;
}