<nav class="navbar navbar-fixed-top">
        <ul class = "nav nav-pills nav-justified">
            <li><a href="#">Chronic Fatigue Syndrome Research</a>
            </li>
            <li><a href="#">How to Particpate</a>
            </li>
            <li><a href="#">Directions</a>
            </li>
            <li><a href="#">What to do if you become lost</a>
            </li>
            <li><a href="#">How to contact our staff</a>
            </li>
            <li><a href="#">Staff Bios</a>
            </li>
        </ul>
</nav>